@model IEnumerable<Aplicacion_web_de_certificacion.Models.PedidoEnsayo>

@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <table align="center"><tr><td><h2>Pedidos De Ensayos</h2></td></tr></table>
    </div>
    <div class="table-responsive ">
         <table id="grid" class="table table-bordered">
            <thead>
                <tr>
                    <th>Editar</th>


                    <th>
                        Autor Pedido
                    </th>

                    <th>
                        Protocolo Aplicable
                    </th>
                    <th>
                        Condiciones de Ensayo
                    </th>
                    <th>
                        Comentarios
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="success">
                        <form asp-controller="PedidoEnsayo" asp-action="EditarPedidoEnsayo2" class="form-horizontal">
                            <input asp-for="@item.presupuestos_IdPresupuestos" name="presupuestos_IdPresupuestos" class="form-control" contenteditable="false" type="hidden" />

                            <button type="submit" class="btn btn-mini btn-primary"> # @item.IdPedidoEnsayo</button>
                        </form>

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AutorPedido)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ProtocoloAplicable)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CondicionesDeEnsayo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Comentarios)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusPedidoEnsayo)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>