@model IEnumerable<Aplicacion_web_de_certificacion.Models.Entidades>

@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <table align="center"><tr><td><h2>Entidades</h2></td></tr></table>
    </div>
    <div class="table-responsive ">
        <p class="alertify-button-ok">
            <table align="center"><tr><td align="center"> <a asp-action="GuardarDatos" asp-area="Agregar" class=""><i class="fas fa-plus-circle fa-3x"></i></a></td></tr><tr><td>Agregar</td></tr></table>
        </p>
        <table id="grid" class="table table-bordered">
            <thead>
                <tr>
                    <th>Editar</th>

                    <th>
                        Razón Social
                    </th>

                    <th>
                        Inicio de Actividad
                    </th>
                    <th>
                        Entidad
                    </th>
                    <th>
                        Representante Legal
                    </th>

                    <th>
                        País
                    </th>
                    <th>
                        Ciudad
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="success">
                            <form asp-controller="Entidad" asp-action="EditarEntidad" class="form-horizontal">
                                <input asp-for="@item.IdEntidades" name="IdEntidades" class="form-control" contenteditable="false" type="hidden" />

                                <button type="submit" class="btn btn-mini btn-primary"> # @item.IdEntidades</button>
                            </form>
                        </td>

                        <td class="active">
                            @Html.DisplayFor(modelItem => item.RazonSocial)
                        </td>

                        <td class="">
                            @Html.DisplayFor(modelItem => item.InicioActividad2)
                        </td>

                        <td class="active">
                            @Html.DisplayFor(modelItem => item.TipoEntidad)
                        </td>

                        <td class="">
                            @Html.DisplayFor(modelItem => item.RepresentanteLegal)
                        </td>

                        <td class="active">
                            @Html.DisplayFor(modelItem => item.Pais)
                        </td>
                        <td class="">
                            @Html.DisplayFor(modelItem => item.Ciudad)
                        </td>

                    </tr>
                }
            </tbody>
        </table>


    </div>

</div>


@section Scripts {

   

    @*<script type="text/javascript">

        $('#contenidotabla').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div />');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Popup Dialog',
                        height: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })

                $dialog.dialog('open');
            }
       
    </script>*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
