@model IEnumerable<Aplicacion_web_de_certificacion.Models.Ensayos>

@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <table align="center"><tr><td><h2>Ensayos Asignados</h2></td></tr></table>
    </div>
    <div class="table-responsive">
        <p class="alertify-button-ok">
            <table align="center"><tr><td align="center"> <a asp-action="NoAsignados" asp-area="Ver No Asignados" class=""><i class="fas fa-list fa-3x"></i></a></td></tr><tr><td>Ver No Asignados</td></tr></table>
        </p>
        <table id="grid" class="table">
            <thead>
                <tr>
                    <th>
                        Editar
                    </th>
                    <th>
                        Ensayo
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.ClienteCertificadora)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.Contacto)
                    </th>*@
                    @*<th>
                       Descripción
                    </th>*@
                    <th>
                       Cliente
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Segmento)
                    </th>*@
                    <th>
                       Técnico Asignado
                    </th>
                    <th>
                        Jefe Asignado
                    </th>
                    @*<th>
                        Alta
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.FechaDeAlta2)
                    </th>*@
                    <th>
                        Fecha
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.FechaPedido2)
                    </th>*@
                    <th>
                        Status
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.usuarios_IdUsuarios)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pedidoEnsayo_IdPedidoEnsayo)
                    </th>*@

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="success">
                        <form asp-controller="Ensayos" asp-action="EditarEnsayo" class="form-horizontal">
                            <input asp-for="@item.IdEnsayos" name="IdEnsayos" class="form-control" contenteditable="false" type="hidden" />

                            <button type="submit" class="btn btn-mini btn-primary"> # @item.IdEnsayos</button>
                        </form>
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.NombreEnsayo)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ClienteCertificadora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contacto)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.DescripcionEnsayo)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ClienteProducto)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Segmento)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.tecnicoAsignado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.jefeLaboratorioAsignado)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.FechaDeAlta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaDeAlta2)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPedido2)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.FechaPedido2)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusEnsayo)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.usuarios_IdUsuarios)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pedidoEnsayo_IdPedidoEnsayo)
                    </td>*@
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


